{% extends "base.html" %}

{% block content %}
<!-- Header-->
<header class="py-5" style="background: linear-gradient(to right,rgb(63, 119, 218),rgb(164, 199, 226)); color: #fff;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center">
            <h1 class="display-4 fw-bolder">Contact us here...</h1>
            <p class="lead fw-normal text-white-75 mb-0">We're here to assist you with care and commitment... reach out to us anytime!</p>
        </div>
    </div>
</header>
{% endblock %}